altgraph==0.16.1
attrs==19.3.0
Automat==0.8.0
cffi==1.13.2
constantly==15.1.0
cryptography==3.2
future==0.18.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
numpy==1.18.1
pefile==2019.4.18
Pillow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest>=1.9.0
PyInstaller>=3.6
pyOpenSSL==19.1.0
pywin32-ctypes==0.2.0
service-identity==18.1.0
six==1.13.0
Twisted==19.10.0
wxPython==4.0.7.post2
zope.interface==4.7.1
